<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__nav--web">
            <li><a href="https://adalab.es/">Articles</a></li>
            <li><a href="https://adalab.es/">Books</a></li>
            <li><a href="https://adalab.es/">Events</a></li>
            <li><a href="https://adalab.es/">Reasons</a></li>
            <li><a href="https://adalab.es/">Tips</a></li>
        </ul>
        <ul class="footer__nav--social">
            <li><a href="https://adalab.es/">Twitter</a></li>
            <li><a href="https://adalab.es/">Instagram</a></li>
            <li><a href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
    </nav>
    <div class="footer__copy">
        <p>&copy;2022</p>
        <p class="footer__copy--p">we<i class="fa-solid fa-heart footer__copy--heart"></i>components</p>
    </div>
</footer>