* {
    font-family: 'Roboto', sans-serif;    
}
/*fonts*/
$fonttitle:'Roboto Slab', serif;
$fonttext:'Roboto', sans-serif;
$fontbutton:'Roboto', sans-serif;

/*colors*/

$whitecolor: #fff;
