* {
    font-family: 'Roboto', sans-serif;    
}
/*fonts*/
$fonttitle:'Roboto Slab', serif;
$fonttext:'Roboto', sans-serif;
$fontbutton:'Roboto', sans-serif;

/*colors*/

$whitecolor: #fff;
$bluecolor: #8ccbea;
$blackcolor: #4a4a4a;
$orangecolor: #f26002;
$lightbluebackground: #eff9ff;
$darkbluebackground: #304268;


/*titles variables*/

$titlesize: 1.7rem;

